@media screen and (max-width: 760px) {
	.page__wrapper {
		max-width: 96%;
	}
	/*** Header section || Block - header ***/
	.header--not_desktop {
		height: auto;
		margin-top: 2rem;
	}
	.header__nav {
		display: none;
	}
	.header__mobile-nav {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.8rem;
		background: #fd926d;
		padding: 0 1.7rem;
		height: 4.6rem;
		margin-top: 2rem;
		margin-bottom: 1.7rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		width: 100%;
		position: relative;
	}
	.header__mobile-nav .fa {
		font-size: 2.5rem;	
	}
	.header__mobile-nav .fa:hover {
		cursor: pointer;
	}
	.header__search {
		width: 21.3rem;
	}
	/* Block - nav */
	.nav--mobile {
		height: 0;
		overflow: hidden;
		width: 100%;
		top: 50%;
		left: 0;
		position: absolute;
		z-index: 99;
		padding: 0;
		background: #fd926d;
		-webkit-transition: all 400ms;
		-o-transition: all 400ms;
		transition: all 400ms;
	}
	.nav__item {
		display: block;
		padding: 1.5rem;

	}
	.nav--mobile_active {
		height: 25rem;

	}
	/*** Slider section ***/
	.slider__slide {
		padding: 0 3rem;
	}
	.slider__picture{
		width: 50%;
	}
	.slider__title {
		font-size: 7.1rem;
	}
	.slider__descr {
		font-size: 3rem;
	}
}

@media screen and (max-width: 640px) {
	html {
		font-size: 130%;
	}
	/*** Account section || Block - account ***/
	.account {
		font-size: 1.5rem;
		height: auto;
	}
	.account__inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.account__settings {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.account__care {
		background: #fafafa;
		color: #838383;
		line-height: 6rem;
		text-align: center;
		position: relative;
		z-index: 999;
	}
	.account__care:after,
	.account__care:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: #fafafa;
		position: absolute;
		top: 0;
		z-index: -2;
	}
	.account__care:before {
		left: -5%;
	}
	.account__care:after {
		right: -5%;
	}
	.account__care,
	.account__settings {
		height: 6rem;
	}
	.account__my {
		white-space: nowrap;
		padding: 0 2rem;
	}
	.account__option {
		overflow-y: visible;

	}
	.account__option:after {
		border-width: 9px;
		top: 87%;
	}
	.option {
		height: 6rem;
		line-height: 6rem;
	}
	.option:last-child {
		border-left: 0;
		border-right: 0;
	}
	.option__item:first-child {
		width: 20%;
	}
	
	/*** Header section || Block - header ***/
	.header {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.header__right-content {
		width: 100%;
	}
	.header__left-content {
		width: 100%;
	}
	.header__search {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.header__form {
		display: none;
	}
	/* Block - logo */
	.logo {
		width: 100%;
		height: 7rem;
		text-align: center;
	}
	.logo a {
		display: block;

	}
	.logo__img {
		margin-top: 1rem;
		display: inline-block;
		width: 60%;
		vertical-align: middle;
	}
	/*** Slider section || slider block ***/
	.main__slider {
		display: none;
	}
	/*** Contacts section || contacts block ***/
	.contacts {
		background: none;
		height: auto;
	}
	.contacts__inner {
		flex-direction: column;
		max-width: 96%;
	}
	.contacts__text--email {
		display: none;
	}
	/* Block - email-field */
	.email-field {
		width: 100%;
	}
	.email-field__input {
		background: #ededed;
	}
}