@media screen and (max-width: 760px) {
	/*** Account section || account block ***/
	.account__inner {
		max-width: 96%;
		padding: 0;
	}
	/*** Header section || Block - header ***/
	.header__inner {
		height: auto;
		max-width: 96%;
		margin-top: 2rem;
		padding: 0;
	}
	.header__nav {
		display: none;
	}
	.header__mobile-nav {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.8rem;
		background: #fd926d;
		padding: 0 1.7rem;
		height: 4.7rem;
		margin-top: 2rem;
		margin-bottom: 1.7rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 100%;
		position: relative;
		flex-wrap: wrap;
	}
	.header__mobile-nav--nojs {
		height: auto;
	}
	.header__mobile-nav--nojs .page-nav--mobile {
		height: auto;
		position: static;
	}
	.header__mobile-nav .fa {
		font-size: 2.5rem;	
	}
	.header__mobile-nav .fa:hover {
		cursor: pointer;
	}
	.header__search {
		width: 21.3rem;
	}
	.header__burger {
		width: 23px;
		height: 20px;
		padding: 0;

		background-size: cover;
	}
	/* Block - nav */
	.page-nav--mobile {
		height: 0;
		overflow: hidden;
		width: 100%;
		top: 100%;
		left: 0;
		position: absolute;
		z-index: 99;
		padding: 0;
		background: #fd926d;
		-webkit-transition: all 400ms;
		-o-transition: all 400ms;
		transition: all 400ms;
	}
	.page-nav__item {
		display: block;
		padding: 1.5rem;

	}
	.page-nav--mobile_active {
		height: 28rem;

	}
	/*** Slider section ***/
	.slider__slide {
		padding: 0 3rem;
	}
	.slider__picture{
		width: 50%;
	}
	.slider__title {
		font-size: 7.1rem;
	}
	.slider__descr {
		font-size: 3rem;
	}
	/*** Contacts section || contacts block ***/
	.contacts__inner {
		max-width: 96%;
		padding: 0;
	}

}

@media screen and (max-width: 640px) {
	html {
		font-size: 130%;
	}
	/*** Account section || Block - account ***/
	.account {
		font-size: 30px;
		height: auto;
	}
	.account__inner {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.account__settings {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.account__care {
		position: relative;
		
		height: 96px;
			
		color: #838383;
		line-height: 96px;
		white-space: nowrap;
		text-align: center;

		background: #fafafa;
		border: none;

	}
	.account__care:after,
	.account__care:before {
		position: absolute;
		top: 0;

		content: "";
		display: block;
		height: 100%;
		width: 100%;

		background: #fafafa;
	}
	.account__care:after {
		right: -99%;
	}
	.account__care:before {
		left: -99%;
	}
	.account__num {
		color: #838383;
	}
	.account__settings {
		height: 96px;
	}
	/* Block - user */
	.user__select {
		line-height: 96px;
	}
	.user__select,
	.user__search {
		border: none;
	}
	.user__select:after {
		right: 4px;
		top: 55%;

		border-width: 10px;
	}
	.user__account {
		padding-left: 80px;
		padding-right: 25px;
		
		line-height: 96px;
		white-space: nowrap;

		background-size: 44px;
		background-position: 20px 50%;
		
	}
	.user__search {
		width: 100px;

		background-size: 44px;
	}
	/*** Header section || Block - header ***/
	.header__inner {
		max-width: 96%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		height: auto;
	}
	.header__right-content {
		width: 100%;
	}
	.header__left-content {
		width: 359px;
	}
	.header__search {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	.header__form {
		display: none;
	}
	.header__burger {
		width: 33px;
		height: 30px;
	}
	/* Block - logo */
	.logo {
		width: 100%;
		height: 7rem;
		text-align: center;
	}
	.logo a {
		display: block;

	}
	.logo__img {
		margin-top: 1rem;
		display: inline-block;
		vertical-align: middle;
	}
	/*** Slider section || slider block ***/
	.main__slider {
		display: none;
	}
	/*** Contacts section || contacts block ***/
	.contacts {
		background: none;
		height: auto;
	}
	.contacts__inner {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.contacts__item--email {
		width: 100%;
	}
	.contacts__item--social {
		margin-top: .8rem;
	}
	.contacts__text--email {
		display: none;
	}
	/* Block - email-field */
	.email-field {
		width: 100%;
	}
	.email-field__input {
		background: #ededed;
	}
	/* Block - social */
	.social {
		font-size: 1.5rem;
		height: 3.5rem;
	}
	.social__item {
		line-height: 3.5rem;
		padding: 0 1.5rem;
	}
	/*** Section - media || Block - media ***/
	.media {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.header__left-content {
		width: 300px;
	}
	.account__care {
		font-size: 22px;
	}
	.user {
		font-size: 16px;
	}
	.user__select:after {
		right: 12px; 

		border-width: 7px;
	}
	.user__account {
		padding-right: 10px;
		padding-left: 60px;
	}
	.user__account,
	.user__search {
		background-size: 30px;
	}
}