* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
select::-ms-expand { /* For creating custom selects */
    display: none;
}
::-webkit-input-placeholder {color:#9f9f9f; opacity:1;}/* webkit */
::-moz-placeholder          {color:#9f9f9f; opacity:1;}/* Firefox 19+ */
:-moz-placeholder           {color:#9f9f9f; opacity:1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#9f9f9f; opacity:1;}/* IE */
/* Some tips to understand my code:
	1.* ... * - means block
	2.*** ... *** - start of the new section 
	3.** ... ** - common blocks of all pages
	4. __  - an element of the block
	5. --  modifier of the block/element
	6. Full structure - block__element--modifier
*/

/** Common blocks **/
/* Block - page */
.page {
	color: #373737;
	font-family: Arial, open-sans, sans-serif;
	font-style: normal;
	font-size: 1.4rem;
	line-height: 1.2;
	overflow-x: hidden;

	height: 10000px;
}
.hidden {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Block - link */
.link {
	color: #000;
	text-decoration: none;
	
}
.link--nav {
	position: relative;
}
.link--nav:after {
	border: 4px solid transparent;
	border-top: 4px solid #000;
	content: '';
	display: block;
	height: 0;
	position: absolute;
	right: -12px;
	top: 45%;
	width: 0;
}

/* Block - input */
.input {
	border: none;
	border: 1px solid #d6d6d6;
	font-size: 1.2rem;
	outline: none;
	padding: 10px 9px;
	padding: 1rem .9rem;
	width: 100%;
}
.input--header {
	border-top: none;
	border-right: none;
	border-left: none;
}
.input--email {
	border: none;
	font-style: italic;
	padding-right: 18%;
}

/* Block - button */
.button {
	border: none;
	background: #fd926d;
	border-bottom: 3px solid #dd6b44;
	color: #fff;
	font-family: 'HelveticaNueueLTStd';
	font-weight: 100;
	font-size: 1.6rem;
	text-transform: uppercase;
}
.button:hover {
	cursor: pointer;
}
.button--slider {
	padding: 20px 23px;
	padding: 2rem 2.3rem;
}
.button--slider .fa {
	padding-left: 17px;
	padding-left: 1.7rem;
}

/*** Account section || Block - account ***/
.account {
	background: #000;
	font-size: 1.1rem;
	height: 3rem;
	line-height: 3rem;
	text-transform: uppercase;
}
.account__inner {
	max-width: 970px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.account__settings {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.account__option {
	height: 3rem;
	position: relative;
	overflow-y: hidden;

}
.account__option:after {
	content: '';
	border: 5px solid transparent;
	border-top: 5px solid #fff;
	display: inline;
	position: absolute;
	top: 40%;
	right: 1.3rem;
}

/* Block - option */
.option {
	border-left: 1px solid #444;
	border-right: 1px solid #444;
	height: 30px;
	height: 3rem;
	padding: 0 13px;
	padding: 0 1.3rem;
}
.option:hover {
	cursor: pointer;
}
.option__item {
	display: inline-block;
	vertical-align: middle;
}
.option__item:first-child {
	padding-right: 10px;
	padding-right: 1rem;
}
.option--list {
	-ms-appearance: none;
  	-moz-appearance: none;
  	-webkit-appearance: none;
  	appearance: none !important;
	background: #000;
	border: none;
	border-left: 1px solid #444;
	outline: none;
	position: relative;
	padding-right: 30px;
	padding-right: 3rem;
}
.option__icon {
	font-size: 1.8rem;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.option__user {
	color: #666;
	font-size: 1.5rem;
}
.option__value {
	line-height: 60px;
}
.account,
.option--list {
	color: #fff;
}
/*** Header section || Block - header ***/
.header__inner {
	height: 10.6rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 970px;
	margin: 0 auto;
}
.header__mobile-nav {
	display: none;
}
.header__left-content {
	width: 12.1%;
}
.header__right-content {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	width: 83%;
}
.header__search {
	border: 1px solid #d6d6d6;
	width: 26%;
}
.header__cart {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 6px;
	padding: .6rem;
}
.header__icon-cart {
	height: 20px;
	width: 20px;
	height: 2rem;
	width: 2rem;
}
/* Block - logo */
.logo__img {
	width: 100%;
}
/* Block - sell */
.sell {
	color: #949393;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 1.1rem;
	text-transform: uppercase;
}
.sell__items {
	border-right: 1px solid #c1c0c0;
	padding-right: 7px;
	padding-right: .7rem;
}
.sell__price {
	border-left: 1px solid #cecece;
	padding-left: 7px;
	padding-left: .7rem; 
}
/* Block - nav*/
.nav {
	font-size: 1.6rem;
	list-style: none;
	padding: 0;
}
.nav__item {
	display: inline-block;
<<<<<<< HEAD
	padding-right: 3.8rem;
=======
	padding: 0 18px;
	padding: 0 1.8rem;
>>>>>>> 152ba6e94bea61f11f741855a37cd452bcbe170c
}
/*** Main slider section || Block - slider ***/
.main__slider {
	overflow: hidden;
}
.slider {
	background: #ede6dc;
	min-height: 350px;
	height: calc(100vh - 21rem);
	min-height: 35rem;
	position: relative;
	width: 100%;
	margin-bottom: 74px;
	margin-bottom: 7.4rem;
}
.slider__slide {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 970px;
	margin: 0 auto;
	left: 50%;
	position: absolute;
	top: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: opacity 400ms;
	-o-transition: opacity 400ms;
	transition: opacity 400ms;
	-webkit-transform: translate(-50%, 0); 
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	width: 100%;
}
.slider__slide--active {
	opacity: 1;
}
.slider__text {
	color: #78645d;
	font-family: 'HelveticaNueueLTStd';
	text-align: center;
	width: 50%;
}
.slider__top-text {
	display: inline-block;	
	font-family: LuxuryRoyaleJF, Arial, sens-serif;
	font-size: 3.6rem;
	margin: 0;
	line-height: 1;
	padding: 0 8px;
	padding: 0 .8rem;
	position: relative;
}
.slider__top-text:after,
.slider__top-text:before {
	/* Creating lines for text 'Crazy' */
	background: #78645d;
	content: '';
	display: block;
	height: 1px;
	position: absolute;
	top: 60%;
	width: 74px;
	width: 7.4rem;
}
.slider__top-text:after {
	right: -100%;
}
.slider__top-text:before {
	left: -100%;
}
.slider__title {
	background: -webkit-linear-gradient(left, #b08ca4 5%, #fdbd8d 70%, #eadfc4);
	background: -o-linear-gradient(left, #b08ca4 5%, #fdbd8d 70%, #eadfc4);
	background: -webkit-gradient(linear, left top, right top, color-stop(5%, #b08ca4), color-stop(70%, #fdbd8d), to(#eadfc4));
	background: linear-gradient(to right, #b08ca4 5%, #fdbd8d 70%, #eadfc4);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	border-bottom: 4px solid #78645d;

	display: inline-block;

	font-weight: 600;
	font-size: 9.6rem;
	font-stretch: condensed;

	margin: 0;
	padding: .9rem 0;

	position: relative;
	line-height: .8;
	text-transform: uppercase;
}
.slider__title:after {
	background: #78645d;
	content: '';
	display: block;
	height: 1px;
	position: absolute;
	bottom: -5%;
	width: 100%;
}
.slider__descr {
	font-size: 3.6rem;
	font-stretch: condensed;
	font-weight: 300;
	margin: 0;
	padding: 1rem 0;
	text-transform: uppercase;
}
.slider__img {
	height: calc(100vh - 13.6rem);
	min-height: 400px;
	min-height: 40rem;
}
.slider__next,
.slider__prev {
	background: #fdfdfb;
	height: 26.5%;
	position: absolute;
	-webkit-transform: translate(0, -50%);
	    -ms-transform: translate(0, -50%);
	        transform: translate(0, -50%);
	top: 50%;
	width: 30px;
	width: 3rem;
}
.slider__next:hover .slider__arrow,
.slider__prev:hover .slider__arrow {
	opacity: 1;
	
}
.slider__next:hover,
.slider__prev:hover {
	cursor: pointer;
}
.slider__arrow {
	position: absolute;
	left: 50%;
	opacity: .2;
	top: 50%;

	-webkit-transform: translate(-50%, -50%);

	    -ms-transform: translate(-50%, -50%);

	        transform: translate(-50%, -50%);
	-webkit-transition: opacity 400ms;
	-o-transition: opacity 400ms;
	transition: opacity 400ms;
}
.slider__next {
	right: 0;
}
.slider__dots {
	bottom: -7.4rem;
	height: 74px;
	height: 7.4rem;
	left: 50%;
	line-height: 70px;
	line-height: 7rem;
	position: absolute;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
}
.slider__dot {
	background-color: #867a76;
	border-radius: 50%;
	display: inline-block;
	height: 11px;
	margin: 0 9px;
	margin: 0 .9rem;
	-webkit-transition: background-color 200ms;
	-o-transition: background-color 200ms;
	transition: background-color 200ms;
	vertical-align: middle;
	width: 11px;
}
.slider__dot:hover {
	cursor: pointer;
}
.slider__dot--active {
	background-color: #fd926d;
}
/*** Contacts section || Block - contacts ***/
.contacts {
	background-color: #ededed;
	color: #6c6c6c;
	font-size: 1.2rem;
	height: 56px;
	height: 5.6rem;
}
.contacts__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 970px;
	margin: 0 auto;
	height: 100%;
}
.contacts__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.contacts__text {
	-ms-flex-negative: 1;
	    flex-shrink: 1;
	padding-right: 1rem;
}
/* Block - email-field */
.email-field {
	position: relative;
	width: 156px;
	width: 15.6rem;
}
.email-field__btn {
	font-size: 2rem;
	font-weight: 900;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 18%;
}
/* Block - social */
.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 2rem;
	-ms-flex-negative: 1;
	    flex-shrink: 1;
	white-space: nowrap;
}
.social__item {
	color: #6b6b6b;
	display: inline-block;
	line-height: 56px;
	line-height: 5.6rem;
	padding: 0 2rem;
}
.social__item--another-bg {
	background: #f7f7f7;
}
/*** Media section || Block - media ***/
.media {
	height: 338px;
	height: 33.8rem;
}
.media__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-width: 970px;
	margin: 0 auto;
	overflow: hidden;
}
.media__left-content {
	margin-right: 2px;
	background-color: gray;
}
.media__left-content,
.media__right-content {
	
	display: inline-block;
	width: 50%;
}
/* Block - secondary */
.secondary-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	overflow: hidden;
}
.secondary-content__top {
	margin-bottom: 2px;
}
.secondary-content__top,
.secondary-content__bottom {
	background: pink;
	height: 49.8%;
}