* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
select::-ms-expand { /* For creating custom selects */
    display: none;
}
::-webkit-input-placeholder {color:#9f9f9f; opacity:1;}/* webkit */
::-moz-placeholder          {color:#9f9f9f; opacity:1;}/* Firefox 19+ */
:-moz-placeholder           {color:#9f9f9f; opacity:1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#9f9f9f; opacity:1;}/* IE */
/* Some tips to understand my code:
	1.* ... * - means block
	2.*** ... *** - start of the new section 
	3.** ... ** - common blocks of all pages
	4. __  - an element of the block
	5. --  modifier of the block/element
	6. Full structure - block__element--modifier
*/
/* 
	My codestyle for css:
	1.Position
	2.Block model of css
	3.Typography
	4.Appearance
	5.Animation
	6.Anything else
	They are divided by one empty string

*/

/** Common blocks **/
/* Block - page */
.page {
	height: 10000px;

	color: #373737;
	font-family: "Arial", sans-serif;
	font-style: normal;
	font-size: 1.4rem;
	line-height: 1.2;

	overflow-x: hidden;
}
.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* Block - link */
.link {
	color: #000;
	text-decoration: none;
}
.link--nav {
	position: relative;
}
.link--nav:after {
	position: absolute;
	right: -12px;
	top: 45%;

	display: block;
	height: 0;
	width: 0;

	border: 4px solid transparent;
	border-top: 4px solid #000;

	content: '';
}

/* Block - input */
.input {
	padding: 10px 9px;
	padding: 1rem .9rem;
	width: 100%;

	font-size: 1.2rem;

	border: none;
	border: 1px solid #d6d6d6;

	/*outline: none;*/

}
.input--header {
	border-top: none;
	border-right: none;
	border-left: none;
}
.input--email {
	padding-right: 18%;

	font-style: italic;

	border: none;
}

/* Block - button */
.button {
	color: #fff;
	font-family: 'HelveticaNueueLTStd', "Arial", sans-serif;
	font-weight: 100;
	font-size: 1.6rem;
	text-transform: uppercase;

	border: none;
	background: #fd926d;
	border-bottom: 3px solid #dd6b44;
}
.button:hover {
	cursor: pointer;
}
.button--slider {
	padding: 20px 23px;
	padding: 2rem 2.3rem;
}
.button--slider .fa {
	padding-left: 17px;
	padding-left: 1.7rem;
}

/*** Account section || Block - account ***/
.account {
	height: 3rem;

	font-size: 1.1rem;
	line-height: 3rem;
	text-transform: uppercase;

	background: #000;
}
.account__inner {
	max-width: 1000px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.account__settings {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.account__num,
.account__care {
	color: #fff;
}
.account__num {
	text-decoration: none;
}
/* Block - user */
.user__lang {
	position: relative;

	padding-left: 14px;
	padding-right: 30px;
	height: 100%;

	color: #fff;

	background: #000;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none!important;
}
.user__select {
	position: relative;

	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
}
.user__select:after {
	position: absolute;
	right: 15px;
	top: 60%;
	transform: translate(0, -50%);

	display: block;
	content: "";

	border: 5px solid transparent;
	border-top: 5px solid #fff;
}
.user__account {
	padding-right: 14px;
	padding-left: 38px;

	text-decoration: none;
	color: #fff;

	background-image: url(../img/user-icon.png);
	background-repeat: no-repeat;
	background-size: 14px;
	background-position: 12px 50%;
	border-right: 1px solid #444444;
	border-left: 1px solid #444444;
}
.user__search {
	width: 34px;
	
	background-image: url(../img/user-search.png);
	background-repeat: no-repeat;
	background-size: 15px;
	background-position: center;
	border-right: 1px solid #444444;
	border-left: 1px solid #444444;
}
/*** Header section || Block - header ***/
.header__inner {
	height: 10.6rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 1000px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
}
.header__mobile-nav {
	display: none;
}
.header__left-content {
	width: 12.1%;
}
.header__right-content {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 83%;
}
.header__search {
	width: 26%;

	border: 1px solid #d6d6d6;
}
.header__cart {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 6px;
	padding: .6rem;
}
.header__icon-cart {
	height: 20px;
	width: 20px;
	height: 2rem;
	width: 2rem;
}
.header__burger {
	color: white;

	background: transparent;
	border: none;
}
/* Block - logo */
.logo__img {
	width: 100%;
	height: auto;
}
/* Block - sell */
.sell {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	color: #949393;
	font-size: 1.1rem;
	text-transform: uppercase;
}
.sell__items {
	padding-right: 7px;
	padding-right: .7rem;

	border-right: 1px solid #c1c0c0;
}
.sell__price {
	padding-left: 7px;
	padding-left: .7rem; 

	border-left: 1px solid #cecece;
}
/* Block - nav*/
.page-nav__list {
	padding: 0;

	font-size: 1.6rem;

	list-style: none;
}
.page-nav__item {
	display: inline-block;
	padding-right: 3.8rem;
}
/*** Main slider section || Block - slider ***/
.main__slider {
	overflow: hidden;
}
.slider {
	position: relative;

	min-height: 350px;
	height: calc(100vh - 21rem);
	min-height: 35rem;
	width: 100%;
	margin-bottom: 74px;
	margin-bottom: 7.4rem;

	background: #ede6dc;
}
.slider__slide {
	left: 50%;
	position: absolute;
	top: 0;

	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1000px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
	width: 100%;

	opacity: 0;
	overflow: hidden;
	-webkit-transition: opacity 400ms;
	-o-transition: opacity 400ms;
	transition: opacity 400ms;
	-webkit-transform: translate(-50%, 0); 
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	
}
.slider__slide--active {
	opacity: 1;
}
.slider__text {
	width: 50%;

	color: #78645d;
	font-family: 'HelveticaNueueLTStd', "Arial", sans-serif;
	text-align: center;
}
.slider__top-text {
	position: relative;

	display: inline-block;	
	margin: 0;
	padding: 0 8px;
	padding: 0 .8rem;

	font-family: "LuxuryRoyaleJF", "Arial", sans-serif;
	font-size: 3.6rem;
	line-height: 1;
}
.slider__top-text:after,
.slider__top-text:before {
	/* Creating lines for text 'Crazy' */
	position: absolute;
	top: 60%;

	display: block;
	height: 1px;
	width: 74px;
	width: 7.4rem;

	background: #78645d;
	content: '';
}
.slider__top-text:after {
	right: -100%;
}
.slider__top-text:before {
	left: -100%;
}
.slider__title {
	position: relative;

	display: inline-block;
	margin: 0;
	padding: .9rem 0;

	font-weight: 600;
	font-size: 9.6rem;
	font-stretch: condensed;
	line-height: .8;
	text-transform: uppercase;

	background: -webkit-linear-gradient(left, #b08ca4 5%, #fdbd8d 70%, #eadfc4);
	background: -o-linear-gradient(left, #b08ca4 5%, #fdbd8d 70%, #eadfc4);
	background: -webkit-gradient(linear, left top, right top, color-stop(5%, #b08ca4), color-stop(70%, #fdbd8d), to(#eadfc4));
	background: linear-gradient(to right, #b08ca4 5%, #fdbd8d 70%, #eadfc4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	border-bottom: 4px solid #78645d;
}
.slider__title:after {
	position: absolute;
	bottom: -5%;

	display: block;
	height: 1px;
	width: 100%;

	background: #78645d;
	content: '';
}
.slider__descr {
	margin: 0;
	padding: 1rem 0;

	font-size: 3.6rem;
	font-stretch: condensed;
	font-weight: 300;
	text-transform: uppercase;
}
.slider__img {
	height: calc(100vh - 13.6rem);
	min-height: 400px;
	min-height: 40rem;
}
.slider__next,
.slider__prev {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);

	height: 26.5%;
	width: 30px;
	width: 3rem;

	background: #fdfdfb;
	border: none;
}
.slider__next:hover .slider__arrow,
.slider__prev:hover .slider__arrow {
	opacity: 1;
	
}
.slider__next:hover,
.slider__prev:hover {
	cursor: pointer;
}
.slider__arrow {
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;

	opacity: .2;

	-webkit-transition: opacity 400ms;
	-o-transition: opacity 400ms;
	transition: opacity 400ms;
}
.slider__next {
	right: 0;
}
.slider__dots {
	position: absolute;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	bottom: -7.4rem;
	left: 50%;

	height: 74px;
	height: 7.4rem;
	
	line-height: 70px;
	line-height: 7rem;
}
.slider__dot {
	display: inline-block;
	height: 11px;
	margin: 0 9px;
	margin: 0 .9rem;
	width: 11px;

	border-radius: 50%;
	-webkit-transition: background-color 200ms;
	-o-transition: background-color 200ms;
	transition: background-color 200ms;
	background-color: #867a76;
	vertical-align: middle;
	
}
.slider__dot:hover {
	cursor: pointer;
}
.slider__dot--active {
	background-color: #fd926d;
}
/*** Contacts section || Block - contacts ***/
.contacts {
	height: 56px;
	height: 5.6rem;

	color: #6c6c6c;
	font-size: 1.2rem;

	background-color: #ededed;
}
.contacts__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1000px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
	height: 100%;
}
.contacts__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.contacts__text {
	-ms-flex-negative: 1;
	flex-shrink: 1;
	padding-right: 1rem;
}
/* Block - email-field */
.email-field {
	position: relative;

	width: 156px;
	width: 15.6rem;
}
.email-field__btn {
	position: absolute;
	right: 0;
	top: 0;

	height: 100%;
	width: 18%;

	font-size: 2rem;
	font-weight: 900;
}
/* Block - social */
.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-negative: 1;
	flex-shrink: 1;

	font-size: 2rem;
	white-space: nowrap;
}
.social__item {
	display: inline-block;
	padding: 0 2rem;

	color: #6b6b6b;
	line-height: 56px;
	line-height: 5.6rem;
	
}
.social__item--another-bg {
	background: #f7f7f7;
}
/*** Media section || Block - media ***/
.media {
	height: 338px;
	height: 33.8rem;
}
.media__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1000px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;

	overflow: hidden;
}
.media__left-content {
	margin-right: 2px;

	background-color: gray;
}
.media__left-content,
.media__right-content {
	display: inline-block;
	width: 50%;
}
/* Block - secondary */
.secondary-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	overflow: hidden;
}
.secondary-content__top {
	margin-bottom: 2px;
}
.secondary-content__top,
.secondary-content__bottom {
	height: 49.8%;

	background: pink;
}