.secondary-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;

	overflow: hidden;
}
.secondary-content__top {
	margin-bottom: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	background: #93cec3 url(../img/media/secondary-content-1.jpg) no-repeat;
	background-position: 0 -20px;
}
.secondary-content__top,
.secondary-content__bottom {
	height: 49.8%;
}

.secondary-content__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.secondary-content__bottom-left {
	margin-right: 2px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;

	background: #e7e7e7 url(../img/media/secondary-content-2.jpg) no-repeat;
	background-position: center -20px;
}
.secondary-content__bottom-right {
	background: #904f2b url(../img/media/secondary-content-3.jpg) no-repeat;
	background-position: 0 -10px;
}
.secondary-content__bottom-left,
.secondary-content__bottom-right {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	width: 50%;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}
.secondary-content__text {
	position: relative;

	width: 132px;
	height: 132px;
	margin-left: 27px;
	padding: 22px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

	font-family: "HelveticaNueueLTStd", "Arial", sans-serif;
	text-align: center;
	text-transform: uppercase;

	border-radius: 50%;
	background: #fff;
}
.secondary-content__text:after {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);

	display: block;
	content: "";
	width: 120px;
	height: 120px;

	border: 1px solid #daeaeb;
	border-radius: 50%;
	background: transparent;
}
.secondary-content__text p {
	margin: 0;
	line-height: 1;
}
.secondary-content__text-top {
	text-transform: none;
	font-family: "Bello-Script", "Arial", sans-serif;
	color: #ffa687;
	font-size: 22px;
}
.secondary-content__text-main {
	font-size: 42px;
	font-weight: 200;
	color: #c1aea8;
}
.secondary-content__text-bottom {
	color: #6a6a6a;
	font-size: 14px;
	font-weight: 700;
}
.secondary-content__text-main,
.secondary-content__text-bottom {
	font-stretch: condensed;
}

.secondary-content__bottom-left-text {
	margin: 0;
	margin-top: auto;
	margin-bottom: 14px;
	font-size: 34px;
	font-weight: 200;
	color: #fff;
}

.secondary-content__bottom-content p {
	margin: 0;
}

.secondary-content__bottom-content {
	margin-top: auto;
	margin-left: 18px;
	margin-bottom: 17px;
	color: #fff;
	font-size: 36px;
}
.secondary-content__bottom-right-text {
	line-height: 1;
}
.secondary-content__bottom-left-text,
.secondary-content__bottom-content {	
	text-align: center;
	text-transform: uppercase;
	font-family: "HelveticaNueueLTStd", "Arial", sans-serif;
	font-stretch: condensed;
}
